In [5]:
#Question 1
    #Ans
    #Expression are = * , -87.5 ,/ , +(these are ganerally comination of operater and operand)
    #value are =-87.8 , 6

In [3]:
#Question 2
    #Ans
    #Variable is used to store data whereas String is the type of data

In [ ]:
#question 3
    #ans
    #1 integer
    #2 float
    #3 boolean

In [ ]:
#question 4
    #Ans
    #Expression are combination of operator and opearands . These are used to get some values 
    #eg arithmetic or logical etc

In [ ]:
#question 5
#ans 
    #Assignment statement is generally a =(operator) that is used to give some data to the variable 
    #whereas expression is a combination of variables , operator that provides the result

In [9]:
#question 6
    #Ans
bacon = 22
bacon + 1      #ans = 23)

23

In [10]:
#question 7
#ans
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam'*3

'spamspamspam'

In [ ]:
#question 8
#ans
#because because variable name connot start with number

In [ ]:
#question 9
#Ans
#int() , float() , str()

In [14]:
#question 10
#Ans 
#because 99 is an integer we need to convert it in string
'i have eaten ' + str(99) + ' burritos'

'i have eaten 99 burritos'