In [15]:
#ans-1
def factorial(n):
    if n == 0 and n == 1:
        return 1
    else:
        sum = 1
        for i in range(1,n+1):
            sum = sum*i
        print("factorial of {} is {}".format(n,sum))
factorial(6)

factorial of 6 is 720

In [24]:
#ans-2
def Display_the_multiplication_Table(n):
    sum =1
    for i in range(1,11):
         print("{} * {} = {}".format(n,i,n*i))

In [26]:
Display_the_multiplication_Table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [63]:
#ans-3
def fibonacci(n):
    a= 0
    b=1
    if n == 0:
        return a
    elif n==1:
        return b
    else:
        for i in range(1,n):
            print(a)
            c = a+b
            a= b 
            b=c
    print("total fibnacci :" , c)
fibonacci(9)

0
1
1
2
3
5
8
13
total fibnacci : 34

In [77]:
#nas-4
def armstrong(n):
    sum = 0
    temp = n
    a = len(str(n))
    while(temp != 0):
        remainder = temp % 10
        sum = sum + remainder**a
        temp= temp//10
    if sum ==n:
        return "armstrong"
    else :
        return "not_armstrong"
armstrong(153)

'armstrong'

In [91]:
#ans -5
def armstrong_number_in_interval(a,b):
    for i in range(a,b+1):
        a =  len(str(i))
        temp = i
        sum = 0
        while(temp != 0):
            remainder = temp % 10
            sum = sum + remainder**a
            temp= temp//10
        if sum == i :
            print(i)

In [93]:
armstrong_number_in_interval(1,2000)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634

In [97]:
#ans-5
def sum_of_natural_number(n):
    if n == 0:
        print("enter natural number")
    else:
        sum = 0
        for i in range(n+1):
            sum = sum +i
        print(sum)
sum_of_natural_number(100)

5050

In [98]:
#0R
def sum_of_natural_number(num):
    sum = num *(num +1)/2
    print(sum)
sum_of_natural_number(100)

5050.0