In [4]:
#ans-1
def symmetrical(n):
    temp = n
    rev = 0
    while temp>0:
        r = temp % 10
        rev = rev*10 + r
        
        temp = temp//10
        
    if n== rev:
        print(True)
    else:
        print(False)
        
symmetrical(7227)
symmetrical(9939)

True
False

In [43]:
#ans-2
def multiply(s):
    s1 = s.split(",")
    #print(s1)
   
    sum = 1
    for i in s1:
        sum = sum*int(i)
    print(sum)
multiply("2,3")
multiply("2,3,4,-2")

6
-48

In [115]:
#ans-3
def square(n):
    j = str(n)
    l = []
    for i in j:
        
        #print(i)
        l.append(str(int(i)**2))
        #print(l)
            
    out = "".join(l)
        
    
    print(out)
  
       

square(9119)
square(3212)

811181
9414

In [117]:
#ans-4
def remove_duplicate(l):
    charset = set()
    for i in l:
        charset.add(i)
    print(list(charset))
remove_duplicate([1,3,3,5,5])

[1, 3, 5]

In [138]:
#ans-5
def meanofdigit(n):
    l = []
    sum = 0
    for i in str(n):
        l.append(int(i))
    for i in l:
        sum = sum +i
    mean = sum//len(l)
    print(mean)
        
meanofdigit(42)
meanofdigit(512)

3
2